html,
body,
#app {
  height: 100%;
  width: 100%;
  min-width: 35rem;
  min-height: 40rem
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.w-h-100 {
  width: 100%;
  height: 100%;
}

.w-100 {
  width: 100%
}

.w-20 {
  width: 20%
}
.w-60 {
  width: 60%
}

.table-container {
  height: 98%;
  width: 98%;
  margin: auto;
  /* margin-top: 2%; */
  overflow: auto;
}

.btn-w120 {
  width: 7.5rem /* 120/16 */
}

/*display*/
.display-flex {
  display: flex;
}

.display-flex-wrap {
  display: flex;
  flex-wrap: wrap
}

.display-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.display-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.display-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* element-ui 样式问题 */
.el-select {
  width: 20rem
}

.el-divider--vertical {
  height: 2em
}

.el-table {
  height: 85%;
  overflow: auto;
}
.el-table td, .el-table th {
  padding: 0px !important;
}
.el-table::before {
  width: 0
}

.el-table th.gutter {
  background-color: #eef1f6
}

.el-pagination {
  text-align: center;
}

/* font-size */
.font-size-xsmall {
  font-size: x-small
}

.font-size-small {
  font-size: small;
}

.font-size-smaller {
  font-size: smaller
}

.font-size-16 {
  font-size: 1rem /* 16/16 */
}

.font-size-20 {
  font-size: 1.25rem
}

.font-size-32 {
  font-size: 2rem
}

.font-bold {
  font-weight: bold
}

/* margin */
.m-auto {
  margin: 0 auto
}

.m-top24 {
  margin-top: 1.5rem /* 24/16 */
}

.m-bottom24 {
  margin-bottom: 1.5rem
}

.m-left8 {
  margin-left: .5rem
}

.m-t-b40 {
  margin: 2.5rem 0
}

/* padding */
.padding-16 {
  padding: 1rem;
}

.padding-l-r-20 {
  padding: 0 1.25rem /* 20/16 */
}

.padding-r-20 {
  padding-right: 1.25rem
}

.padding-l-40 {
  padding-left: 2.5rem /* 40/16 */
}

.padding-20 {
  padding: 1.25rem
}

.padding-b-48 {
  padding-bottom: 3rem
}

/* border-radius */
.border-radius-8 {
  border-radius: .5rem
}

.border-1 {
  border: .0625rem solid #ffffff;
}

.border-2 {
  border: .125rem solid #ffffff;
}

.cursor-pointer {
  cursor: pointer;
}

.text-align-r {
  text-align: right
}

.text-align-c {
  text-align: center
}

.text-align-l {
  text-align: left
}

a {
  text-decoration: none
}